doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(name="description" content="")
    meta(name="keywords"    content="")
    meta(name="author"      content="nekonenene")
    link(rel="shortcut icon" href="./img/favicon.ico")

    //- for Android SmartPhone
    meta(name="theme-color" content="#2b0de8")
    link(rel="icon" href="./img/favicon_192.png" sizes="192x192")

    - var title = "Chapter 6";
    title #{title}

    // Normalize.css
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css")
    // Font Awesome!
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    //- My Stylesheets
    link(rel="stylesheet" href="./style/top.css")
  body.bg-light
    main(role="main")
      section.jumbotron.text-center
        .container
          h1.jumbotron-heading #{title}
          p.lead.text-muted
            | ADSR を付けました
          p.lead.text-muted.small
            | （※Google Chrome で動かすことを推奨します。Firefox だと Release が機能しません）
      .container#app
        .row
          .col-md-12
            button.btn.btn-raised(type="button" @click="switchCanPlay()" :class="canPlay ? 'bg-green text-white' : 'btn-danger'") {{ canPlay ? "OSC ON" : "OSC OFF" }}
        .row
          vco-module(ref="vco1" :initial-volume="50" :initial-waveform="'square'")
        .row.mt-4
          vco-module(ref="vco2" :initial-volume="50" :initial-waveform="'sine'")
        .row.mt-5
          adsr-module(ref="masterAdsr")
        .row.mt-3
          vcf-module(ref="masterFilter" :initial-filter-type="'lowpass'")
        .row.mt-3
          .col-md-3
            | Master Volume
          .col-md-9
            vue-slider(v-model="masterGain.volume" @callback="loadNodesSettings()" :height="opts.height" :dot-size="opts.dotSize")
        .row.mt-2
          .col-md-3
            | Panpot
          .col-md-9
            vue-slider(v-model="masterPanner.pan" @callback="loadNodesSettings()" :height="opts.height" :dot-size="opts.dotSize" :min="-100" :max="100")

    footer.container.text-right.mt-5
      a(href="http://hato-neko.x0.com" target="_blank" title="ハトネコエセンター").
        ハトネコエ
      | &nbsp;
      a(href="https://twitter.com/nekonenene" target="_blank" title="Twitter: nekonenene").
        (@nekonenene)

      //- Optional JavaScript
      //- jQuery first, then Popper.js, then Bootstrap JS
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
      script(src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous")
      script(src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous")
      <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>

      //- My Scripts
      script(src="./js/ch6.js")
